{% extends "layout.html" %} {% block body %}

<div class="jumbotron text-center bg-dark text-light">
  <h1 class="display-3">Sinema Dünyasına Hoş Geldiniz</h1>
  <p class="lead">
    Sinema tutkunlarının buluşma noktasına hoş geldiniz! En yeni filmleri
    kapsamlı incelemelerle keşfedin. Kendi görüşlerinizi paylaşın ve diğer
    sinema meraklılarının yorumlarını okuyun. Sinema dünyasındaki son
    gelişmeleri takip etmek için bizi düzenli olarak ziyaret edin. Ayrıca, özel
    film etkinlikleri ve haberleri hakkında bilgi sahibi olun.
  </p>
</div>

{% endblock body %}
